/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card, .mat-card {
  box-shadow: none !important;
  padding: 0 !important;
}

@media (max-width: 599px) {
  app-navbar.hide-on-mobile {
    display: none;
  }
}

